<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <style>
      body {
        font-family: Arial, sans-serif;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .container {
        background-color: #fff;
        padding: 40px;
        text-align: center;
      }
      .code {
        font-size: 36px;
        font-weight: 600;
        letter-spacing: 10px;
        color: #007980;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 10px;
        border-radius: 10px;
        background-color: #c8fbfd94;
      }
      .valid {
        color: grey;
        font-size: 16px;
        font-style: italic;
      }
      .header {
        color: #007980;
        font-size: 32px;
      }
      .logo {
        max-width: 50%;
        max-height: 50%;
      }
    </style>
  </head>
  <body>
    <div class='container'>
      <img src="https://res.cloudinary.com/dbrquscbv/image/upload/q_auto/f_auto/c_scale,w_1280/v1720707072/Logo_without_background_m1kobt.png" alt="Logo" class="logo"/>
      <h3 class='header'>Online Courses</h3>
      <p>Here is a one-time code to verify your email address</p>
      <p class='code'>{{code}}</p>
      <p class='valid'>Valid for: {{minutes}} minutes</p>
    </div>
  </body>
</html>
